<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<p>
  ARBITRE
</p>
<table>
  <h4>
  Changement de mot de passe :
  </h4>
  <tr>
    <mat-form-field>
      <input matInput placeholder="Nouveau Mot de passe" [type]="hide1 ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <br/>
    <br/>
    <mat-form-field>
      <input matInput placeholder="Repetez Mot de passe" [type]="hide2 ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
  </tr>
  <br/>
    <button mat-raised-button color="accent">Valider</button>
  <br/>
</table>