@import "../../../assets/styles/variables.scss";

table{
    text-align:center;
    font-family:"Arial";
    margin:10px auto auto auto;
    padding:5px;
    border-style:solid;
    border-width: 4px;
    border-color: $tabs-border;
    background-color:$back;
    min-width: 500px;
    border-radius:5px;
}

p{
    text-align:center;
    font-size:24px;
    font-family:"Arial Black";
    color:$text-default;
}

mat-form-field{
    background-color:white;
    padding:10px 20px 1px 20px;
    max-height:4em;
    border-radius: 100px;
    min-width: 400px;
    max-width: 400px;
    width:400px;
}
h4{
    color:$text-default;
}