<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="container">
  <div class="row">
      <div class="col-md-6 offset-md-3">
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <table>
          <h4> Entrez vos identifiants :</h4>
                <tr>
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput placeholder="Login" type="text" formControlName="login" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.login.errors }" />
                        </mat-form-field>
                        <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
                            <div *ngIf="f.login.errors.required">Login is required</div>
                            <div *ngIf="f.login.errors.login">Login must be a valid login address</div>
                        </div>
                        <div *ngIf="submitted &&  loginInvalid" class="invalid-feedback">
                            <div *ngIf="loginInvalid">login invalid</div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                        <div *ngIf="submitted && f.password.errors " class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 5 characters</div>
                        </div>
                        <div *ngIf="submitted &&  passInvalid" class="invalid-feedback">
                            <div *ngIf="passInvalid">password invalid</div>
                        </div>
                    </div>
                    <div class="form-group">
                    <br/>
                        <button mat-raised-button color="accent" [disabled]="loading" class="btn btn-primary">Login</button>
                    </div>
                </tr>
            </table>  
          </form>
      </div>
  </div>
</div>