<table *ngIf="btn">


  <tr>
    <td colspan="4"><p>{{sport}} - {{today | date: 'dd/MM/yyyy - HH:mm:ss'}}</p></td>
  </tr>

  <tr>
    <td colspan="2"><mat-card class="j1-card">{{j1}} : {{scoreJ1}}</mat-card></td>
    <td colspan="2"><mat-card class="j2-card">{{scoreJ2}} : {{j2}}</mat-card></td>
  </tr>

  <tr>
      <td><button mat-raised-button (click)="addPoint(idj1,true)" color="accent">+1</button></td>
      <td><button mat-raised-button (click)="deletePoint(idj1,true)" color="accent">-1</button></td>
      <td><button mat-raised-button (click)="addPoint(idj2,false)" color="warn">+1</button></td>
      <td><button mat-raised-button (click)="deletePoint(idj2,false)" color="warn">-1</button></td>
  </tr>

</table>  
<br/>
<div class="matchlist">
  <app-match-case  *ngFor="let match of matchs" [match]='match' (etat)="onEtat($event)"></app-match-case>
</div>
