@import "../../../assets/styles/variables.scss";

button{
    background-color: white;
    margin:0;
    width:150px;
    height:100px;
    font-size:3em;
}

.launch{
    
    text-align:center;
    button{
        margin:0;
        width:500px;
        height:80px;
        font-size:3em;
        padding:auto;
        margin:auto;
        text-align:center;
    }
}
table{
    text-align:center;
    font-family:"Arial";
    margin:10px auto auto auto;
    padding:5px;
    border-style:solid;
    border-width: 4px;
    border-color: $tabs-border;
    background-color:$back;
    min-width: 500px;
    border-radius:5px;
}

p{
    text-align:center;
    font-size:3em;
    font-family:"Arial Black";
    color:$text-default;
}

.j1-card{
    font-size:2em
}

.j2-card{
    font-size:2em
}

.matchlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
