<div class="matchbox" (click)="btnBehaviour(match.id)"  [ngClass]="match.etat === 1 ? 'actif' : 'inactif' ">
  <div class="sport">
      {{match.sport.Label}}
    
    <div class="iconbuttons">
      {{textInfo}}
    </div>
  </div>
  Date : {{match.DateTime | date: 'dd/MM/yyyy'}}<br/><br/>
  <div class="jstat">
    <span>{{match.joueur1.Prenom}} {{match.joueur1.Nom}}</span>
    <span>{{match.score_j1.totalPoints}}</span>
  </div>
  <div class="jstat">
    <span>{{match.joueur2.Prenom}} {{match.joueur2.Nom}}</span>
    <span>{{match.score_j2.totalPoints}}</span>
  </div>
</div>
