@import "../../../assets/styles/variables.scss";

.matchbox{
    background-color:$back-light;
    padding:5px;
    border-style:solid;
    border-width: 4px;
    border-color: white;
    border-radius:5px;
    width:300px;
    margin:10px;
    cursor: pointer;

    .sport{
        font-size:26px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;

        .iconbuttons{
            font-size:16px;
            width: 70px;
            text-align: end;
        }
    }

    .jstat{
        display: flex;
        justify-content: space-between;
    }
}

.actif{
    background-color : #76d275;
}

.inactif{
    background-color : #EF9A9A;
}
